@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0px;
    padding: 0px;
     font-family: "Nunito", sans-serif;
}

.menu-1{
    display: flex;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 500px;
    text-decoration: none;
    margin-bottom: 30px;
}
.menu-1:hover{
    display: flex;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: white;
    color:#5041BC ;
    border-radius: 40px;
}
.adverb-menu{
    display: inline-block;
    padding: 50px 60px;
}
.nav-text{
    font-size: 35px;
    color: black;
    font-weight: 700px;  
}
